body{
  font-family: Montserrat-thin;
  background-color: #ffe2e2;
    /* padding-left: 150px; */
}

.navigation{
  max-width: 1300px;
  padding: 50px 10px 0 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}
.btn-circle.btn-xl {
            width: 120px;
            height: 120px;
           /* padding: 10px 16px; */

            border-radius: 65px;
            font-size: 12px;
            text-align: center;
        }
.roundhref{
  padding-right: 10px;
  padding-bottom: 10px;
}
.quote-right{
  color: gray;
  padding-top:40px;
}
.quote-left{
  color: gray;
  padding-right: 20px;

}
.quote-text{
 color: gray;
}
.fa-envelope-o{
  text-align: center;
  color:gray;
  padding-bottom: 20px;
  /* padding-top: 20px; */
}
.footer1{
  padding-top: 20px;
  text-align: center;
  font-family: Montserrat;
}
.footer2{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;font-family: Montserrat;
}
.mailfooter{
  padding-top: 25px;
  color: gray;
}
.footerh5{
  font-family: Montserrat;
}
.footer3{
  padding-top: 20px;
  text-align: center;font-family: Montserrat;
}
.introtextfa1{
  /* padding-left: 8px; */
  padding-right: 50px;
  /* padding-top:10px; */
  color:gray;
}
.introtextfa2{
  /* padding-left: 8px; */
  padding-right: 55px;
  /* padding-top:10px; */
  color:gray;
}
.introtextfa3{
  padding-left: 8px;
  /* padding-top:10px; */
  color:gray;
}

footer{
  background-color: #393e46;
  width: 100%;
  color: gray;
  /* padding: 0; */
}
ul{
  display: flex;
  flex-wrap: wrap;
}
li{
  list-style: none;
  padding-left: 50px;
  font-weight: 700px;
  letter-spacing: 4px;
  font-size: 1rem;
}
.navbar-brand{
  padding-top: 50px;
  /* padding-left: 150px; */
}
#profile{
  margin-left: 25px;
}
